h1 {
    color:darkred;
    background-color: burlywood;
    font-size: 30px;  
    font-family: Georgia, 'Times New Roman', Times, serif
}

ul {
    color: rgb(129, 0, 0);
    text-align: center;
}

p {
    background-color: #deb887;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

/*
h1 {
    color: lightblue;
    background-color: red;
}
*/


/* THE FOLLOWING IS FOR SUPERHERO ACTIVITY */
#superherolist {
    text-align: right;
    background-color: darksalmon;
}
#firstlist {
    background-color: indianred;
}
#secondlist {
    background-color: rgb(184, 0, 0);
}
#thirdlist {
    background-color: black;
}
#firstlist, #secondlist, #thirdlist {
    font-size: 20px;
}
#activities {
    color: black;
    background-color: palevioletred;
}
.quarantine {
    background-color: powderblue;
}
body {
    background-image: url("img/watercolor.jpg");
}